node_modules
npm-debug.log
.env
config/config.json
logs
*.log
.git
.gitignore
.eslintrc.json
.eslintcache
.pm2
ecosystem.config.js
README.md
docs
.DS_Store
*.swp
*.swo
*~
.vscode
.idea